.content {
    position: relative;
    z-index: 2;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* KEY */
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Amiri';
}

.swipe-hint {
    font-size: 1rem;
    opacity: 0.8;
    color: white;
    font-family: 'Amiri';
}
.countdown {
  font-size: 1.2rem;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Each box */
.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Numbers */
.number {
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(243, 197, 197); /* rose claire */
  font-family: 'Amiri';
}

/* Labels */
.label {
  font-size: 0.9rem;
  margin-top: 5px;
  color: white;
  opacity: 0.8;
  font-family: 'Amiri';
}
.invitation {
  opacity: 0;
  transition: opacity 2s ease;
}

.invitation.show {
  opacity: 1;
}

/* Top title */
.top-title {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

/* Parents names next to each other */
.parents-names {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  /* space between parents */
  margin-bottom: 15px;
  font-size: 1.6rem;
}

/* Individual parent styling */
/* .parents-names span {
  white-space: nowrap;
} */

/* Centered sentence under parents */
.sentence1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
  max-width: 80%;
}

/* Small image */
.small-image {
  width: 60px;
  margin-bottom: 15px;
}

/* Couple names with wedding ring */
.couple-names {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.couple-names .ring {
  width: 40px;
  height: 40px;
}

/* Final centered sentence */
.sentence2 {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Swipe hint */
.swipe-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe-hint .swipe-icon {
  width: 40px;
  margin-bottom: 5px;
}